*{
 /* Sidebar */
.sidebar-card {
  position: fixed;
  background: #1a1a1a; /* Dark background color */
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px; /* Increased width for more content */
  z-index: 100;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 20px; /* Add padding to the top */
  overflow-x: hidden; /* Hide the vertical scrollbar */
}

/* Sidebar title */
.sidebar-card .card-title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

/* Sidebar links */
.sidebar-link {
  display: block;
  padding: 10px 20px;
  color: #ccc; /* Lighter text color */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for color change */
}

.sidebar-link:hover {
  color: #fff; /* Hover color */
}

/* Active link */
.sidebar-link.active {
  color: #fff; /* Active link color */
}

/* Icon */
.sidebar-link i {
  margin-right: 10px; /* Add space between icon and text */
}
  /* Custom styles for dashboard cards */
  .dashboard-card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .dashboard-card-header {
    background-color: #223020; /* Blue header background */
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .dashboard-card-body {
    padding: 20px;
  }
  /* Custom styles for data cards */
  .data-card {
    margin-bottom: 20px;
  }
}
